* {
  box-sizing: border-box;
}
html, body{
  margin:  0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol {
  list-style-type: none;
  margin: 0;
}

h1, h2, h3, .projects-wrapper > div {
  margin: 0;
  text-transform: uppercase;
}

.container, .container-mobile-menu {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans', 'Oswald', sans-serif;
}

.container-mobile-menu {
  position: fixed;
  z-index: 99;
  background-color: #3b3b3b;
}

.mobile-top-wrapper {
  justify-content: space-between;
  padding: 30px;
}

.mobile-logo-text {
  font-size:22px;
}

.mobile-top-wrapper img{
  height: 40px;
  width: auto;
}

.mobile-list-wrapper {
  margin-top: 50px;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  font-weight: 300;
}

.mobile-list-wrapper ul{
  padding-left: 30x;
}

.mobile-list-wrapper ul li:first-child {
  font-weight: 500;
}

.mobile-footer-wrapper {
  margin-top: 14px;
  height: 35%;
  align-items: flex-end; 
  text-align: center;
}

.mobile-footer-wrapper div  {
  font-size: 40px;
  color: #6B6B6B;
  border: 1px solid #6B6B6B;
  border-bottom: none;
  width: 50%;
  padding: 20px;
}

.mobile-top-wrapper, .mobile-footer-wrapper, nav ul, .header-title-wrapper,
.mobile-menu, .projects-wrapper, .form-wrapper, .row-wrapper{
  display: flex;
}

nav ul, .header-title-wrapper, .mobile-menu {
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li{
  padding: 8px 15px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 300;
}

.mobile-menu {
  padding: 0 20px;
  justify-content: center;
  text-align: end;
}

.mobile-menu i{
  font-size: 35px;
}
.mobile-menu {
  display: none;
}

.header-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 1;
  padding: 50px;
  font-family: 'Oswald', sans-serif;
}

.overlay {
  background-color: rgba(41, 41, 41, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.corner-wrapper {
  background-color: #2b2b2b;
  /* nu ai nevoie de pozitionare absoluta aici, este ordinea normala a layout-ului, trebuie doar sa renunti la padding si margin si ajungi la acelasi efect fara a aapela de pozitionare. Recomand pozitionarea doar daca este nevoie, nu ca o prima solutie */
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh; 
  width: 25%;
}

.corner-wrapper p {
  font-size: 50px;
  padding-left: 40px;
  margin: 20px 0;
}

.vertical-line {  
  border-left: 2px solid #CDCDCD;
  height: 60px;
  position: absolute;
  left: 25px;
}

.social-list {
  position: absolute;
  left: -30px;
  padding-top: 60px;
  color:#CDCDCD;

  /*exista o varianta mai buna pt pozitionarea iconitelor?... */
  /* se aplica ce am scris mai sus la .corner-wrapper */
}

.social-list li i{
  font-size: 40px;
  padding: 10px;
}

.header-title-wrapper {
  height: 60vh;
  align-items: center;
}
.header-title-wrapper h1{
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 10px;
}

.projects-wrapper, .wrapper{
  position: relative;
  z-index: 1;
  flex-wrap:wrap;
  /* border: 5px solid yellow; */
  height: 100%;
}

.projects-wrapper > div {
  width: 33.3%;
  height: 100vh; 
  /* am incercat sa folosesc % dar nu imi dau seama ce am facut gresit ce de nu merge */
  /* % functioneaza cum te astepti doar daca intreg lantul ierarhic are un height impus, fie ca e fix sau %. dar daca la un singur element din latul ierarhic lipseste height, atunci sunt toate sansele sa iti ignore %, pentru ca nu stie din ce sa calculeze */
}

/* aici puteai sa folosesti doar o clasa comuna in loc sa le listezi pe toate. nu este neaparat gresit, dar era o solutie mai simpla, care asigura si respectarea principiului de re-utilizare. */
.projects-img1, .projects-img2, .projects-img3, .projects-img4, .projects-img5, .projects-img6 {
 position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
}

.projects-img1 {
  background-image: url(../assets/concert-hall.jpg);
}

.projects-img2 {
  background-image: url(../assets/bedroom-2.jpg);
}

.projects-img3 {
  background-image: url(../assets/hotel.jpg);
}

.projects-img4 {
  background-image: url(../assets/bedroom-1.jpg);
}

.projects-img5 {
  background-image: url(../assets/library.jpg);
}

.projects-img6 {
  background-image: url(../assets/kitchen.jpg);
}

.wrapper .project-description{
  font-size: 20px;
  padding: 20px 0 0 20px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
}

.project-description span:nth-child(3) {
  color: #c09c78;
}

.wrapper .project-category {
  font-size: 14px;
  /* margin-top: 200px;  */
  /* stiu, super manuala centrarea, din pacate tot nu am stiut cum sa fac si am facut-o in stilul meu caracteristic: bad practice dar frustrarea e mai mica cand vad asezat ok in pagina*/
  /* se invata chestiile astea cu experienta, nu te nelinisti prea tare */
  /* nu inteleg prea bine de ce nu ai pozitionat aici, acesta este unul din cazurile specifice unde vrem pozitionare */
  /* bineinteles, pe mobile trebuie sa renunti la pozitionare, ca sa poti centra */
  position: absolute;
  bottom: -110px;
  left: 150px;
  /* cred ca poate sa fie confusing pozitionarea din cauza lui transform, dar poti sa renunti la transform temporar si sa vezi cum functioneaza, apoi sa ajustezi. de obicei trebuie sa le iei pe rand ca sa intelegi bine cum functioneaza fiecare */
  transform: rotate(-90deg);
  height: 50%;
  letter-spacing: 5px;
}

footer{
  width: 100%;
  background-color: #2b2b2b;
  text-align: center;
}

.form-wrapper{
  justify-content: center;
}

.row-wrapper{
    width: 650px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.button-wrapper button, form button {
  background-color: #3d3d3d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin: 40px auto;
}

.contact-wrapper h2 {
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 10px;
  color: #fff;
  font-weight: 300;

}

.contact-wrapper span{
  color: #c09c78;
}

input,textarea {
  padding: 20px;
  margin: 10px;
  background-color: #3b3b3b;
  border: none;
} 

textarea {
  height: 130px;
}
form button{
  background-color: #c09c78;
}
form button i{
  font: 30px;
 
}

@media (max-width: 600px) {
.mobile-menu{
    display: block;
  }

.desktop-menu {
    display: none;
  }

.header-wrapper{
    height: 60vh;
  }

.corner-wrapper {
    width: 35%;
    height:60%;
  }

.corner-wrapper p {
    font-size: 30px;
    padding-left:40px;
  }

.vertical-line {  
  left: 30px;
  height: 40px;
}

.social-list li i {
  font-size: 20px;
  padding: 5px
}
.social-list {
    left: -20px;
}

.header-title-wrapper {
  justify-content: center;
}

.header-title-wrapper h1{
  font-size: 60px;
  font-weight: 300;
}

.projects-wrapper > div {
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: flex;
}

br {
  display: none;
}

.wrapper .project-description , .project-category {
  /* ai nevoie sa schimbi si directia aici, nu ajunge justify-content. flex de default le aseaza pe row, orizontal, una langa cealalta */
  /* am pus regulile astea pe .projects-wrapper > div (randul 315 la mine, sper ca e clar de ce) */
  /* nu pare centrat perfect vertical pentru ca ai un height de 50% pe category, pe care rog sa il ajustezi tu  */
 /* flex-direction: column;
  justify-content: center; */
  margin: 0 auto;  
}
 /* nu inteleg ce fac gresit, nu reusesc sa centrez titlurile sub nicio forma
 project catergory pe mobile
 si pe langa asta, desi sunt toate aceeasi clasa, doua dintre ele sunt plasate aiurea - care ar putea fi motivul?*/

.wrapper .project-category {
  margin-top:0;
  transform: none;
  padding: 0;
  position: unset;
}

input, textarea {
  width: 90%;
  display: inline-block;
}

.contact-wrapper .button-wrapper button{
    display: none;
}

.row-wrapper{
 width: 100%;
 flex-direction: column;
 align-self: center;
}

.contact-wrapper h2 {
  font-size: 40px;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
}

.form-wrapper button {
  margin: 20px;
  float: right;
}

.hidden {
  display: none;
}

}