

* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  margin:  0;
  padding: 0;
  color: #ffffff;
  font-family: 'Open Sans', 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul, ol {
  list-style-type: none;
  margin: 0;
}

h1, h2, h3, .projects-wrapper > div {
  margin: 0;
  text-transform: uppercase;
}

.bg-dark {
  background-color: #2b2b2b !important;
}

.btn-orange {
  background-color: #c09c78;
}

.mobile-menu{
  display: none;
}


 .header-wrapper{
  height: 100%;
  width: 100%;
  background-image: url(../assets/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
  position: relative;
  z-index: 1;
 }

 header{
   height: 100%;
   
 }


 .overlay {
  background-color: rgba(41, 41, 41, 0.55);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;

}

.corner-navbar-wrapper{
  height: 50%;
  width: 100%;
}
.corner-wrapper {
  background-color: #2b2b2b;
  top: 0;
  left: 0;
  height: 100%; 
  width: 25%;
}

.corner-wrapper .brand-name {
  font-size: 50px;
  padding-left: 40px;
  margin: 20px 0;
}

.vertical-line {  
  border-left: 2px solid #CDCDCD;
  height: 60px;
  position: absolute;
  left: 25px;
}

.social-list {
  position: absolute;
  left: -30px;
  padding-top: 60px;
  color:#CDCDCD;
}

.social-list li i {
  font-size: 40px;
  padding: 10px;
}

 .navbar, .nav {
  width: 70%;
}

.img {
  width: 100%;
  height: 600px;
}

.col-md-4{
  padding: 0;
}
 .card-img-overlay {
  background-color: rgba(41, 41, 41, 0.55);

}

.project-description {
  font-size: 18px;
}
.project-category {
  transform: rotate(-90deg);
  height: 90%;
  font-size: 20px;
  letter-spacing: 3px;
}

.text-wrapper{
  height: 100%;
}

label {
  display: none;
}

.form-wrapper {
 height: 120px;;
}

::placeholder{
  color: #fff !important;
  font-size: 16px;
}

.bg-secondary, .btn-secondary {
  background-color: #3d3d3d !important;
}
 
.form-control, .btn {
  border-color: unset;
  border: unset;
}

.text-color{
  color: #c09c78;
}

form button i{
  font-size: px;
 
}

@media (max-width: 769px) {


  .project-category {
    transform: none;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
 
  }

  .project-description > div {
    display: inline-block;
 
  }
  .project-description div:nth-child(2) {
    color: #c09c78;
  }


  .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

  .corner-wrapper .brand-name {
    font-size: 30px;
  }
   
  .text-wrapper{
    height: unset;
  }

  .corner-wrapper {
    width: 35%;
  }

.corner-wrapper p {
    font-size: 30px;
    padding-left:40px;
  }

.vertical-line {  
  left: 30px;
  height: 40px;
}

.social-list li i {
  font-size: 20px;
  padding: 5px
}
.social-list {
    left: -20px;
}

.header-title-wrapper {
  justify-content: center;
}


}