html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style-type: none;
}
 
.background-wrapper{
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Open Sans', 'Duru Sans', sans-serif;
  padding: 50px;
  box-sizing: border-box;
}

img {
  opacity: 0.5;
}

header   {
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
   
}

.black-wrapper {
  background-color: #2b2b2b;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 200px;
}

.black-wrapper h1 {
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.line {
  content: "";
  border-left: 1px solid #fff;
  height: 40px;
  text-align: center;
  position: absolute;
  left: 25px;
}

.social-corner-wrapper{
  display: flex;
  align-items: flex-start;
  
}
.social-corner-wrapper ul li a{
  color:#fff;
  font-size: 30px;
  padding-top: 5px;
  
 
}
header ul {
  float: right;
}

header li {
  display: inline;
  padding-right: 30px;
}

header li a{
  float: left;
  padding: 8px 15px;
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.mobile-menu-wrapper {
  display: none;
  color: #fff;
  padding: 14px;
  font-size: 40px;
  justify-content: center;
  text-align: end;
}


.title-wrapper h1 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;
}
/* nu cred ca imaginea o doresti in float aici, mai degraba un container sa le contina pe toate: imagine, titlu, locatie, categorie. iti recomand sa folosesti flex pentru layout-ul asta, este mult mai usor de folosit decat float si cu mai putine efecte secundare de reparat. */
.first-row img, .second-row img{
  float: left;
  height:400px;
  width:33.3%;
  object-fit: cover;
  position: relative;
}

.clearfix{
  clear: both;
}

.text-image{
  padding: 20px;
 
}

.text-image p {
  /* acestea nu le vrei inline-block pentru ca locatia o vrei sub descriere, nu in continuare */
  display: inline-block;
  margin: 0;
  font-size: 25px;
  color: #000000;
  font-family: 'Open Sans', 'Duru Sans', sans-serif;
  text-transform: uppercase;
}

.text-image p:nth-last-child(1){
  transform: rotate(-90deg);
  /* foarte manuala pozitionarea asta, nu iti recomand, este mai ok sa folosesti o pozitionare absoluta fata de un parinte relativ. vom explica sambata la lectia mai mult. este prea mult de refacut sa iti arat pe cod */
  position: relative;
  left: -80px;
  top: 180px;
  font-size: 20px;

}

.contact-wrapper {
  background-color: #2b2b2b;
  display: block;
  text-align: center;
}

.button-wrapper button, form button {
  background-color: #3d3d3d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin: 40px auto;
}

form button{
  background-color: #c09c78;
}

.row-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-wrapper h2 {
  padding: 0;
  font-family: 'Duru sans','Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
}

.contact-wrapper span{
  color: #c09c78;
}

input,textarea {
  padding: 20px;
  margin: 10px;
  background-color: #3b3b3b;
  border: none;
  color: #fff;
}

textarea {
  height: 90px;
}

form button i{
  font: 30px;
}

  @media (max-width: 600px) {
    .first-row img, .second-row img{
      width: 100%;
    }
    .mobile-menu-wrapper{
      display: block;
    }
    .menu-bar-wrapper{
      display: none;
    }

    .title-wrapper h1 {
      font: 40px;
      text-align: center;
    }

    .black-wrapper {
      height: 60%;
    }
    .black-wrapper h1 {
      font-size: 20px;
    }

    .social-corner-wrapper ul{
      position: absolute;
      left: -30px;
      top: 80px;
    }

    input, textarea {
      width: 80%;
    }

   .contact-wrapper .button-wrapper button{
      display: none;
    }

    .contact-wrapper h2{
      padding-top: 40px;
    }

    form button{
      padding: 15px 30px;
      float: right;
      margin-right: 30px;
    }

    .row-wrapper{
      display: inline-block;
      width: 90%;
    }

    /* aici este lejer inconsistent faptul ca o data folosesti clearfix si odata folosesti clear pentru acelasi set de reguli, iti recomand sa te rezumi la una dintre alternative*/
    .clear{
      clear: both;
    }

  }